# .gitignore

# IntelliJ IDEA
.idea/

# Gradle
.gradle/
build/

# Compiled class files
out/

# Gradle Wrapper
gradle/wrapper/

# IDE files
*.iml

# Eclipse files
.settings/
.classpath
.project

# macOS
.DS_Store

# Windows
Thumbs.db