# .gitignore

# IntelliJ IDEA
.idea/

# Gradle
.gradle/
build/
gradlew
gradlew.bat

# Compiled class files
out/
*.class

# Compiled Java bytecode
*.jar

# Gradle Wrapper
gradle/wrapper/

# IDE files
*.iml

# Eclipse files
.settings/
.classpath
.project

# macOS
.DS_Store

# Windows
Thumbs.db